
/* Dark to light grayscale */
@off-black: #3b3b38;
@dark-gray: #5e5e5b;
@gray: #9b9b95;
@medium-gray: #b3b3ad;
@light-gray: #d7d7d1;
@lighter-gray: #e4e4dc;
@off-white: #edede8;
@white: #ffffff;

/* Colors */
@dark-green: #3f5d40;
@dull-green: #478b4f;
@green: #63bd6d;
@light-green: lighten(@green, 10%);
@bright-green: #a1f0aa;
@yellow: #eef4a2;
@gold: #ccd55e;
@orange: #e7993e;
@light-orange: hsl(hue(@orange), .9, .6);
@red: #e7523e;
@dark-blue: #285071;
@blue: #2a8ec1;
@light-blue: lighten(@blue, 10%);

/* Other */
@modal-background: rgba(0,0,0,0.35);
@shadow: rgba(0,0,0,0.2);
@light-shadow: rgba(0,0,0,0.05);
